.header {
    padding: 10px 20px;
    margin-bottom: 45px;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.navigationList {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link {
    cursor: pointer;
    color: rgba(251, 239, 26, 1);
    text-decoration: none;
}

.activeLink {
    composes: link;
    color: rgb(17, 168, 214);
}

.link+.link {
    margin-left: 25px;
}

.ukraineContainer {
    width: 230px;
    display: flex;
    align-items: center;
}

.ukraine {
    text-decoration: none;
    color: inherit;
    display: flex;
    background: linear-gradient( rgba(29, 129, 253, 1) 36%, rgba(251, 239, 26, 1) 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heartLogo {
    margin-left: 8px;
}